<div class="container">
  <div class="d-flex justify-content-evenly w-50 tabs">
    <a class="nav-item nav-link" routerLink="/customers/card-view" routerLinkActive="active"> <img src="../../assets/grid.png" alt="grid"> Card View</a>
    <a class="nav-item nav-link" routerLink="/customers/list-view" routerLinkActive="active"><img src="../../assets/list.png" alt="list"> List View </a>
    <a class="nav-item nav-link" routerLink="/customers/map-view" routerLinkActive="active"><img src="../../assets/street-view.png" alt="street-view">Map View</a>
    <a class="nav-item nav-link" routerLink="/customers/create" routerLinkActive="active"><img src="../../assets/plus.png" alt="plus">New Customer</a>
  </div>
</div>