<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>        
        <th scope="col-2">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Order Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr appCustomerRowHover *ngFor="let customer of customers; let i = index" [routerLink]="['/customer', customer.id]"  >        
        <td> <img src={{customer.image}} alt="customer"> </td>
        <td>{{customer.firstName}} </td>
        <td> {{customer.lastName}} </td>
        <td> {{customer.address}} </td>
        <td> {{customer.city}} </td>
        <td> {{customer.state}} </td>
        <td> {{customer.orderTotal}} </td>
        <td> <a routerLink="/orders"> View Orders </a> </td>
      </tr>
    </tbody>
  </table>
</div>  